/* Color de fondo */
body{
    background-color: rgb(255, 240, 223);
    text-align: center;
    justify-content: center;
}

/* Estilos de la barra de navegación */

.nv{
    left: 1%;
    border-radius: 15px;
    width: 98%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 500px;  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

/* Estilos de los elementos dentro de la barra de navegación */
.elements{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;  
}

/* Estilos de los items dentro de la barra de navegación */
.item{
    left: 15%;
    display: flex;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont-img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: rgb(224, 195, 161);
}
img{
    border-radius: 15px;
    width: 60px;
    height: 60px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos de las iniciales del nav */
.iniciales{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px ;
    
}

/* Estilos del contenedor de informacion sobre mí */
.bienvenida{
    position: absolute;
    width: 96%;
    left: 2%;
    margin: auto;
    height: 400px;
    border-radius: 15px;    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    top: 100px ;
}
.circle1{
    position: inherit;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgb(224, 195, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 20px ;
    margin-bottom: 10px ;
    left: 5%;
    top: 15px;
}
.contenido{
    position: relative;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
    line-height: 1.6;
    left: 10%;
    top: 6%;
}
.foto{
    border-radius: 50%;
    width: 170px;
    height: 170px;
}