/* Fondo general */
body{
    background-color: rgb(255, 240, 223);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Barra de navegación ---------- */
.nv{
    width: 96%;
    margin: 16px auto;
    border-radius: 15px;
    height: auto;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    background: rgb(255, 240, 223);
    flex-wrap: wrap;
}

/* contenedor de elementos (links / iconos) */
.elements{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    flex-wrap: wrap;
}

/* items individuales */
.item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
}

/* imagen dentro del item */
.cont-img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 12px rgba(0,0,0,0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    background-color: rgb(224, 195, 161);
    overflow: hidden;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

/* enlaces */
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
a:hover{ color: rgb(128, 0, 128); }


/* Sección de contacto */
.contact-section{
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2{
    font-size: 32px;
    color: #333;
    margin-bottom: 40px;
}

/* Contenedor */
.contact-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* Tarjetas */
.contact-card{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.contact-card i{
    font-size: 50px;
    margin-bottom: 10px;
}

/* Hover */
.contact-card:hover{
    transform: translateY(-8px);
    box-shadow: 8px 8px 20px rgba(0,0,0,0.25);
}


/* Responsivo */
@media (max-width: 600px){
    .contact-card{
        width: 130px;
        height: 130px;
    }
}
